
    {{> navigation}}
    
    <header class="header">

        <div class="layer-2"></div>
        
        <div class="heading-left">

            {{!-- <p class="paragraph">Placeholder</p> --}}

            <h1 class="heading-title">
                {{!-- <span class="heading-primary--sub">Placeholder</span> --}}
                <span class="heading-title-main left">No</span>
                <span class="heading-title-main left">User</span>
                <span class="heading-title-main left">Exists</span>
            </h1>
            
            <a href="/index" class="btn btn-color btn--header btn--animated">Registered yourself</a>
            
        </div>

    
    </header>