{{> navigation}}
<section class="team-players" id="section-players">
      {{> developer-navigation}}

    <div class="developer-container">
                
        {{!-- table with all of our information  model--}}
    </div>
   
</section>