
{{!-- Importing our Toggle button and its functionality to the index page --}}
    {{> navigation}}
    
    <header class="header">
      {{!--Layer-1 is back layer that is holding our wallpaper--}}
        <div class="layer-1"></div>
      {{!--Heading left referencing to our web-app title--}}  
        <div class="heading-left">
             <h1 class="heading-title">
             <span class="heading-title-main left">Quest</span>
             <span class="heading-title-main left">For</span>
             <span class="heading-title-main left">the Net!!</span>
             </h1>
      {{!--Below we are adding a-tag in button forms--}}      
         <a href="/developer" class="btn-click-home  btn--header btn--animated">Developers</a>    
        </div>
     </header>