
    {{> navigation}}
    
    <header class="header">

        {{!-- {{> index-navigation}} --}}

      
        <div class="layer-1"></div>
        <div class="heading-left">
            <h1 class="heading-title">
            
                <span class="heading-title-main left">Quest</span>
                <span class="heading-title-main left">For</span>
                <span class="heading-title-main left">the Net!!</span>
            </h1>
            
            <a href="/games" class="btn-click__home  btn--header btn--animated">Explore More</a>
            <a href="/developer" class="btn-click__home  btn--header btn--animated">Meet the Developers</a>
            
        </div>

    
    </header>