{{!-- Player page section that will hold player cards --}}
<section class="section-players" id="section-players">
{{> player-navigation}}
    <div class="row d-flex players-container">
        
{{!--Inside this container we will dumb our player card--}}
    </div>
</section>


