{{!-- {{> navigation}}

<section class="section-players" id="section-players">

  {{> player-navigation}}
  
   <div class="players-container"> 
      <div class="row d-flex players-container">
        
        <div class="available col-md-6 text-center"></div>
      </div>
  </div>

  
</section> --}}

{{> navigation}}
<section class="section-players" id="section-players">
      {{> player-navigation}}
   <!--<div class="team-container"> -->
     <div class="row d-flex players-container">
    <!--  <div class="row d-flex players-container"> -->
      </div>
</section>


